[Unit]
Description=Database Synchronization Service
After=network.target

[Service]
Type=simple
User=your_user
WorkingDirectory=/path/to/loader-alpha/server
ExecStart=/usr/bin/python3 sync_db.py
# Запуск каждые 5 минут
Restart=always
RestartSec=300

[Install]
WantedBy=multi-user.target 